<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Odin Layout</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Navigation Bar -->
     <nav class="navbar">
        <div class="nav-container">
            <ul class="left-section">
                <li>about</li>
                <li>store</li>
            </ul>
            <ul class="right-section">
                <li>profile</li>
                <li>settings</li>
            </ul>
        </div>
     </nav>

     <!-- **************************************** -->
     <!-- **************************************** -->

     <!-- End of the navigation Bar -->

     <!-- ********************************* -->
     <!-- ********************************* -->

     <!-- Start of the Main Content -->
      <div class="main-container">
        <!-- Logo Image -->
         <div class="logo-img">
            <img src="./logo.png" alt="logo">
         </div>
         <div class="search-bar">
            <input type="text">
         </div>
         <div class="search-btns">
            <button class="btn1 btn">do the thing!</button>
            <button class="btn2 btn">do the other thing!</button>
         </div>
      </div>

      <!-- ****************************************** -->
      <!-- ****************************************** -->

      <!-- End of the Main Container -->
       <!-- *********************************** -->

       <!-- Start of the Footer Section -->
      <footer class="footer">
        <div class="footer-container">
            <ul class="left-section">
                <li>adverstising</li>
                <li>business</li>
            </ul>
            <ul class="right-section">
                <li>privacy</li>
                <li>terms</li>
            </ul>
        </div>
     </footer>

</body>
</html>